@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 1300px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}

.list-header li a:hover {
    color: #34b1da;
    cursor: pointer;
}

.input-search {
    width: 560px;
    height: 37px;
    border: 1px solid #ccc;
    padding: 0 16px;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.btn-search {
    background: #0dcaf0;
    color: #fff;
    height: 37px;
    width: 72px;
    border-radius: 0 6px 6px 0;
}

.list-header_left {
    flex: 3;
    margin-right: 10px;
}

.list-header_right {
    flex: 7;
    background: #464646;
}

.list-header {
    display: flex;
    margin: 0;
    height: 100%;
    line-height: 60px;
    padding-left: 30px;
}

.banner-home {
    position: relative;
}

.s-desc {
    position: absolute;
    top: 14%;
    padding-left: 20px;
}

.fw-bold,
.fw-normal {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    color: #2f2f2f;
    text-transform: uppercase;
}

.fw-bold {
    font-weight: bold;
}

.price_home {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    color: #34b1da;
}

.price_name {
    display: inline;
    line-height: 18px;
    font-size: 14px;
    text-transform: none;
    color: #2f2f2f;
    text-decoration: none;
    font-weight: 500;
}

.price_name:hover {
    color: #0dcaf0;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 16px;
    color: #888;
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
}

.cat-title {
    padding: 16px 17px 14px;
    background: #34b1da;
    position: relative;
    display: block;
    font-size: 19px;
    line-height: 24px;
    text-transform: capitalize;
    min-height: 60px;
    border-radius: 3px 3px 0 0;
    color: #fff;
}
.phone {
    text-align: right;
    font-size: 21px;
    line-height: 30px;
    font-weight: 500;
    color: #2f2f2f;
}
.list-header {
    display: flex;
    align-items: center;
    list-style: none;
}

.list-header li a {
    text-decoration: none;
    margin-left: 26px;
    font-size: 14px;
    color: #fff;
}
